*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
  }
  
  body{
    font-weight: 300;
    line-height: 1.6;
  }
  
  header{
      background-color: lightblue;
  }
  
  header nav h2{
      padding: 10px ;
    
  }
  
  header nav ul{
    display: flex ;
    align-items: center;
  }
  
  
  header nav ul li{
    list-style-type: none;
    text-align: center;  
  }
  
  header nav ul li a{
    margin-left: 10vw;
    text-decoration: none ;
    font-size: 1.2rem;
  }
  
  #container {
      min-height: 100vh;
      max-width: 1280px;
      margin: 0 auto;
      text-align: center;
      /* padding: 0 2rem 0 2rem; */
  }

  
  #tittle{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  
     /*  favourite meal items */
   
  #meal{
      margin: 2rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }
  
  
  .meal-item{
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
      margin: 1rem ;
      width: 350px;
  }

  .meal-item:hover{
    box-shadow: 0 4px 21px 0px rgba(0, 0, 0, 0.79);
  }
  
  .meal-img img{
      width: 100%;
      display: block;
  }

  .meal-img img:hover{
    opacity: 0.5;
  }
  
  .meal-name{
      padding: 1.5rem 0.5rem ;
      display: flex;
      justify-content: space-between;
      margin: 0 20px 0 20px ;
  }
  
  .meal-name h3{
    font-size: 1.4rem;
  }
  
  #fav-btn-added{
    text-decoration: none;
    background-color: lightgreen;
    color: black;
    font-weight: 500;
    font-size: 1rem ;
    padding:0 10px ;
    border-radius: 10px ;
  }
  
  .fav-btn{
  border: none;
  text-decoration: none;
  background-color: lightgreen;
  /* border: 2px solid red; */
  font-weight: 500;
  font-size: 1rem ;
  padding:7px 12px ;
  border-radius: 10px ;
  height: fit-content;
  width: fit-content;
  }
  
  .fav-btn:hover{
    background-color: orange;
    cursor: pointer;
    border: none;
  }
  